{% extends 'base.html' %}


{% block head_links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/product_page.css') }}">
{% endblock %}

{% block content %}

<div class="d-flex flex-row justify-content-around flex-wrap mt-4">
    {% if values['all_prods'] %}

    {% for product in values['all_prods'] %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                {{ product.title }}
            </h5>
            <p class="card-text">

            </p>
            <a href="#" class="btn btn-primary">
                Subscribe to content
            </a>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <div class="alert alert-info" role="alert">
        There are currently no products
    </div>
    {% endif %}
</div>

{% endblock %}