{% extends 'base.html' %}


{% block head_links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/product_page.css') }}">
{% endblock %}

{% block content %}

<div id="error_alert" class="alert alert-warning alert-dismissible fade d-none mx-3" role="alert">
    <strong id="error_title">An Error Has Occured</strong>
    <div id="error_message">Example Error Here</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="d-flex flex-row justify-content-around flex-wrap mt-4">
    {% if values['all_prods'] %}

    {% for product in values['all_prods'] %}
    <div class="card" style="width: 18rem;" id="product_{{ product.id }}">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h5 class="card-title">
                    {{ product.title }}
                </h5>

                <div>
                    {% if product.id in values['owned_prods'] %}
                    <span class="badge bg-primary">Owner</span>
                    {% elif product.id in values['subbed_prods'] %}
                    <span class="badge bg-light text-dark">Subscribed</span>
                    {% else %}
                    <span class="badge bg-success">Available</span>
                    {% endif %}
                </div>
            </div>

            <div class="card-text mb-3">
                <span class="text-muted">
                    Created by - {{ product.username }}
                </span>
            </div>
            {% if product.id in values['subbed_prods'] or product.id in values['owned_prods'] %}
            <a href="#" class="btn btn-primary">
                View Course
            </a>
            {% else %}
            <a href="{{ url_for('main.subscribe_user_to_product', product_id=product.id) }}"
                class="btn btn-primary subscribe-to-course">
                Subscribe to course
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% else %}
    <div class="alert alert-info" role="alert">
        There are currently no products
    </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/all_products_page.js') }}"></script>
{% endblock %}